@import '../../../_variables.scss';
.tooltip {
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  background-color: $pale-midnight-medium;
  color: white;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 5px 5px 12px #00000020;
  -webkit-font-smoothing: antialiased !important;
}