<div [ngClass]="(stateService.sidebarState$ | async) ? 'sidebar is-open' : 'sidebar' ">
  <a class="brand-area">
    <a routerLink="home" class="logo">
      <img src="https://ik.imagekit.io/fuc9k9ckt2b/Brand/tr:q-100/RMedium_tQwULDhhy.png?ik-sdk-version=javascript-1.4.3&updatedAt=1654661385347" alt="">
    </a>

    <ng-container *ngIf="(stateService.sidebarState$ | async)">
      <a routerLink="home" class="view-name">
        <span class="title">
          {{ viewTitle }}
        </span>
      </a>
    </ng-container>

    <ng-container *ngIf="(stateService.sidebarState$ | async)">
      <a
        (click)="onMenuClick()"
        class="collapse-btn">
        <i class="material-icons">menu_open</i>
      </a>
    </ng-container>
  </a>

  <ng-container *ngIf="!(stateService.sidebarState$ | async)">
    <a
      (click)="onMenuClick()"
      class="open-btn" >
      <i class="material-icons">
        menu
      </i>
    </a>
  </ng-container>

  <div class="menu-items">


    <a
      routerLink="home" 
      routerLinkActive="active"
      class="menu-item">
      <div class="bar-icon">
        <i class="material-icons">home</i>
      </div>

      <ng-container *ngIf="(stateService.sidebarState$ | async)">
        <div class="item-name">
          Home
        </div>
      </ng-container>
    </a>

    <a
      routerLink="yutes"
      routerLinkActive="active"
      class="menu-item">
      <div class="bar-icon">
        <i class="material-icons">move_down</i>
      </div>
      <ng-container *ngIf="(stateService.sidebarState$ | async)">
        <div class="item-name">
          Main File
        </div>
      </ng-container>
    </a>

    <a
      routerLink="utilities"
      routerLinkActive="active"
      class="menu-item">
      <div class="bar-icon">
        <i class="material-icons">support</i>
      </div>

      <ng-container *ngIf="(stateService.sidebarState$ | async)">
        <div class="item-name">
          Utilities
        </div>
      </ng-container>
    </a>


    <a
      routerLink="colors"
      routerLinkActive="active"
      class="menu-item">
      <div class="bar-icon">
        <i class="material-icons">
          format_color_fill
        </i>
      </div>


      <ng-container *ngIf="(stateService.sidebarState$ | async)">
        <div class="item-name">
          Colors
        </div>
      </ng-container>
    </a>


    <a
      routerLink="forms"
      routerLinkActive="active"
      class="menu-item">
      <div class="bar-icon">
        <i class="material-icons">
          branding_watermark
        </i>
      </div>

      <ng-container *ngIf="(stateService.sidebarState$ | async)">
        <div class="item-name">
          Forms
        </div>
      </ng-container>
    </a>

    <a
      routerLink="buttons"
      routerLinkActive="active"
      class="menu-item">
      <div class="bar-icon">
        <i class="material-icons">
          gamepad
        </i>
      </div>

      <ng-container *ngIf="(stateService.sidebarState$ | async)">
        <div class="item-name">
          Buttons
        </div>
      </ng-container>
    </a>
  </div>

  <div class="extra">
  </div>
</div>