/* -------------------------------------------------------------------------- */
/*                           OTHER YUTES STYLESHEETS                          */
/* -------------------------------------------------------------------------- */
@import '_utilities.scss';
@import '_imported-fonts.scss';
@import '_variables.scss';
@import '_forms.scss';
@import '_buttons.scss';

/* -------------------------------------------------------------------------- */
/*                                   DEFAULT                                  */
/* -------------------------------------------------------------------------- */

html, body {
  // Main font (REM is multiple of font size)
  font-size: 16px;
  // letter-spacing: -0.03rem;
  // font-weight: 500;
  font-family: 'Inter', sans-serif;
  cursor: default;
  -webkit-font-smoothing: antialiased !important;
}

* {
  // Border Box
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  // Antialiasing Forever
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  font-smooth: always;
  // Remove blue focus outlines
  &:focus {
    outline: none;
  }
}

/* -------------------------------------------------------------------------- */
/*                          Browser Webkit Overrides                          */
/* -------------------------------------------------------------------------- */

// To ensure accurate div adjustments
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Ensures that all sizing of items are consistent across the app
img {
  width: 100%;
  height: auto !important;
}

// Buttons
button {
  -webkit-appearance: none;
  background-color: unset;
  border: unset;
  font-size: 100%;
  color: unset;
  font-family: unset;

  &:focus {
    -webkit-appearance: none;
    outline: unset;
  }
  &:visited {
    -webkit-appearance: none;
    outline: unset;
  }
}

// Resets Inputs from Browser
input[type='file' i]::-webkit-file-upload-button {
  cursor: pointer !important;
}
input[type='file'] {
  cursor: pointer;
}
input {
  outline: none;
  border: none;
}

// Anchor links
// No more random blue text!
a {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: unset;
  outline: none;
  border: none;
  &:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:focus {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

// HTML Elements
// Small
small {
  margin: 0;
  padding: 0;
  line-height: auto;
}
p {
  line-height: 1.5rem;
}
.list-unstyled {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
select {
  border: none;
  outline: none;
  cursor: pointer;
}
textarea {
  border: none;
  outline: none;
}
nav {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* -------------------------------------------------------------------------- */
/*                                  HEADINGS                                  */
/* -------------------------------------------------------------------------- */

$h1: 3rem;
$h1-s: -0.15rem;
$h2: 2.6rem;
$h2-s: -0.15rem;

%h1-styles {
  font-size: $h1;
  line-height: $h1;
  letter-spacing: $h1-s;
  font-weight: 700;
}
%h2-styles {
  font-size: $h2;
  line-height: $h2;
  letter-spacing: $h2-s;
  font-weight: 700;
}
h1 { @extend %h1-styles; }
.h1 { @extend %h1-styles; }
h2 { @extend %h2-styles; }
.h2 { @extend %h2-styles; }


/* -------------------------------------------------------------------------- */
/*                                  Z-INDEX                                   */
/* -------------------------------------------------------------------------- */

app-root { z-index: 1; }
app-sidebar, .sidebar { z-index: 3; }
app-tooltip, .tooltip { z-index: 9999999999999999; }