@import '../../../_variables.scss';


:host { 
  -webkit-font-smoothing: antialiased !important;
}
$padding-TB: 0.8rem;
$heading-size: 1.15rem;

.temp-wrapper {
  width: 70%;
  margin: auto;
  padding-top: 3rem;
}

.accordion-group {

  .accordion-item {
    margin-bottom: 0.5rem;
    width: inherit;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    padding: $padding-TB 1rem;


    .heading {
      .heading-content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .title {
          -webkit-font-smoothing: antialiased !important;
          font-weight: 600;
          font-size: $heading-size;

          &:hover {
            color: $salmon-medium;
          }
        }

        i {
          height: $heading-size;
          width: $heading-size;
          display: inline-flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          border-radius: 3px;
          background-color: $salmon-light;
          color: white;

          &:hover {
            background-color: $midnight;
          }
        }
      }
    }
    .panel {
      width: 100%;
      margin-top: $padding-TB;
      border-top: 1px solid #e9e9e9;
      padding-top: 1rem;
      display: inline-flex;
      flex-flow: column nowrap;
      
    }
  }

  &.dark-mode {
    background: transparent;

    .accordion-item {
      background-image: linear-gradient(to bottom right, $pale-midnight, $midnight);
      border: none;
      box-shadow: 4px 6px 12px #00000060;

      .heading {
        .heading-content {
          .title {
            color: $steel-grey-medium;
          }

          i {

            color: $steel-grey-dark;
          }
        }
      }

      .panel {
        border-top: 2px solid $soot-grey-dark;

        color: $steel-grey-dark;

        .button-block {
          .btn {
            background-color: rgb(15, 15, 15);
            box-shadow: 4px 6px 12px #00000090;
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }


  }
}