<div class="accordion-group">
  <div class="accordion-item">
    <a class="heading" (click)="accordionBlock.showsBody = !accordionBlock.showsBody">
      <div class="heading-content">
        <div class="title">
          {{ accordionBlock.header }}
        </div>

        <i class="material-icons">
          {{ accordionBlock.showsBody ? 'expand_less' : 'expand_more' }}
        </i>
      </div>
    </a>

    <ng-container *ngIf="accordionBlock.showsBody">
      <div class="panel">
        <div class="body-content">
          <ng-content select="[accordionBodyContent]"></ng-content>
          <ng-content></ng-content>
        </div>
      </div>
    </ng-container>
  </div>
</div>